<app-page-header>
  <div class="w-full sm:w-1/2 md:w-3/5 flex items-center gap-2">
    <div class="flex items-center">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          id="searchWallets"
          placeholder="Search wallets"
          maxlength="100"
          pSize="small"
          (input)="onSearch($event, dt)"
          [style]="{ width: '300px' }" />
      </p-iconfield>
    </div>
    <div class="md:w-auto inline-flex items-center select-none gap-2">
      <p-toggleswitch
        inputId="showDeleted"
        (onChange)="onShowInactiveChange($event)" />
      <label for="showDeleted" class="w-full">Show deleted</label>
    </div>
  </div>

  <div class="w-full sm:w-auto justify-end">
    <p-button
      label="Add new Wallet"
      icon="pi pi-plus"
      title="Add new Wallet"
      size="small"
      [raised]="true"
      (onClick)="onAddWallet()"
    />
  </div>
</app-page-header>

<p-table
  #dt
  [value]="wallets()"
  [rows]="10"
  [globalFilterFields]="['name', 'notes']"
  [scrollable]="true"
  scrollHeight="660px"
  [rowHover]="true">
  <ng-template #header>
    <tr>
      <th pSortableColumn="name">
        Name
        <p-sortIcon field="name" />
      </th>
      <th class="text-center!" pSortableColumn="type">
        Type
        <p-sortIcon field="type" />
      </th>
      <th class="text-center!">Total</th>
      <th class="text-center!">Current Balances</th>
      <th class="text-center!">Allow Negative Balance</th>
      <th class="text-center!">Status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-wallet>
    <tr>
      <td>
        <div class="flex flex-col">
          <span class="font-bold text-base">{{ wallet.name }}</span>
          <span class="max-w-[300px] text-xs text-coinly-disabled text-wrap">{{ wallet.notes }}</span>
        </div>
      </td>
      <td>
        <div class="flex items-center gap-2">
          <p-avatar
            class="pi"
            shape="circle"
            [icon]="getTypeIcon(wallet.type)"
            [style]="{ 'background-color': `${wallet.color}66`, 'color': wallet.color }" />
          {{ wallet.type }}
        </div>
      </td>
      <td>
        <div class="flex flex-col items-center">
          @if (wallet.totalAmount > 0) {
            <span class="text-3xl font-bold text-coinly-success">{{ wallet.totalAmount | currency: wallet.currencyCode }}</span>
          } @else {
            <span class="text-3xl font-bold text-coinly-danger">{{ wallet.totalAmount | currency: wallet.currencyCode }}</span>
          }
          <p-button
            label="Transfer"
            icon="pi pi-arrow-right-arrow-left"
            title="Transfer Funds"
            size="small"
            class="py-2"
            [raised]="true"
            [disabled]="wallet.availableAmount <= 0 && !wallet.allowNegative"
            (onClick)="onTransferFunds(wallet)" />
        </div>
      </td>
      <td>
        <div class="grid grid-cols-2 gap-4 min-w-[260px]">
          <div class="flex flex-col items-center">
            <span class="font-medium">Available</span>
            @if (wallet.availableAmount > 0) {
              <span class="font-bold text-coinly-success">{{ wallet.availableAmount | currency: wallet.currencyCode }}</span>
            } @else {
              <span class="font-bold text-coinly-danger">{{ wallet.availableAmount | currency: wallet.currencyCode }}</span>
            }
            <p-button
              label="To Savings"
              icon="pi pi-arrow-right"
              title="Assign to Savings"
              size="small"
              class="py-2"
              [raised]="true"
              [disabled]="wallet.availableAmount <= 0"
              (onClick)="onToSavings(wallet)" />
          </div>
          <div class="flex flex-col items-center">
            <span class="font-medium">Savings</span>
            @if (wallet.savingsAmount > 0) {
              <span class="font-bold text-coinly-success">{{ wallet.savingsAmount | currency: wallet.currencyCode }}</span>
            } @else {
              <span class="font-bold text-coinly-danger">{{ wallet.savingsAmount | currency: wallet.currencyCode }}</span>
            }
            <p-button
              label="To Available"
              icon="pi pi-arrow-left"
              title="Assign to Available"
              size="small"
              class="py-2"
              [raised]="true"
              [disabled]="wallet.savingsAmount <= 0"
              (onClick)="onToAvailable(wallet)" />
          </div>
        </div>
      </td>
      <td>
        <div class="flex justify-center">
          <p-tag
            [icon]="getTagIcon(wallet.allowNegative)"
            [value]="wallet.allowNegative ? 'Yes' : 'No'"
            [severity]="getTagSeverity(wallet.allowNegative)"
            [rounded]="true" />
        </div>
      </td>
      <td>
        <div class="flex justify-center">
          <p-tag
            [value]="wallet.isDeleted ? 'Deleted' : 'Active'"
            [severity]="getTagSeverity(!wallet.isDeleted)" />
        </div>
      </td>
      <td>
        <div class="flex justify-center">
          <p-button
            icon="pi pi-pencil"
            class="mr-2"
            size="small"
            title="Edit"
            [raised]="true"
            [rounded]="true"
            [disabled]="wallet.isDeleted"
            (onClick)="onEditWallet(wallet)" />
          <p-button
            icon="pi pi-trash"
            severity="danger"
            size="small"
            title="Delete"
            [raised]="true"
            [rounded]="true"
            [disabled]="!wallet.canDelete"
            (onClick)="onDeleteWallet(wallet)" />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="7" class="text-center!">No wallets found.</td>
    </tr>
  </ng-template>
  <ng-template #summary>
    <div class="py-8">
      In total there are <span class="font-bold text-coinly-info-dark">{{ wallets() ? wallets().length : 0 }} wallets</span>.
    </div>
  </ng-template>
</p-table>

<p-confirmDialog [style]="{ width: '450px' }" />
<p-toast position="center" />

<app-new-wallet-form
  [wallet]="selectedWallet()"
  [showDialog]="showAddDialog"
  (cancelAction)="onAddWalletFormDialogClose()">
</app-new-wallet-form>

<app-assign-to-form
  [wallet]="selectedWallet()"
  [showDialog]="showAssignToDialog"
  [assignToType]="assignToType"
  (cancelAction)="onAssignToFormDialogClose()">
</app-assign-to-form>

<app-transfer-funds-form
  [wallet]="selectedWallet()"
  [showDialog]="showTransferToDialog"
  (cancelAction)="onTransferFundsFormDialogClose()">
</app-transfer-funds-form>
