<app-page-title
  title="Payment Methods"
  subtitle="Manage your payment methods for your expenses.">
</app-page-title>

<section class="flex flex-col sm:flex-row items-center justify-between mb-4 space-y-3 sm:space-y-0 sm:space-x-16 text-sm">
  <div class="w-full sm:w-1/2 md:w-3/5 flex items-center gap-3">
    <form class="md:w-3/4 flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-coinly-secondary">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        <input
          type="text"
          id="simple-search"
          placeholder="Search payment methods..."
          maxlength="100"
          [class]="inputFieldColorsWithIcon"
        />
      </div>
    </form>
    <label class="md:w-auto inline-flex items-center select-none">
      <input type="checkbox" value="" class="sr-only peer" [checked]="showDeletedMethods()" (change)="onShowDeletedToggle($event)" />
      <div class="relative w-11 h-6 bg-coinly-disabled peer-focus:outline-none peer-focus:ring-1 peer-focus:ring-coinly-primary rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-coinly-light after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-coinly-light after:border-coinly-secondary after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-coinly-info"></div>
      <span class="ms-3 text-sm">Show deleted</span>
    </label>
  </div>

  <div class="w-full sm:w-auto justify-end">
    <app-large-button
      [text]="'Add new Payment Method'"
      [action]="'new'"
      (buttonClick)="openDialogForm('add', 'Add New Method')"
    ></app-large-button>
  </div>
</section>

@if (errorMessage()) {
  <div class="mb-4 p-3 rounded bg-coinly-danger-light text-coinly-danger border border-coinly-danger-dark">
    {{ errorMessage() }}
  </div>
}

@if (processStatus() === 'success') {
  <div class="mb-4 p-3 rounded bg-coinly-success-light text-coinly-success border border-coinly-success-dark">
    {{ successMessage() }}
  </div>
}

<section class="h-[calc(100vh-280px)] overflow-y-auto">
  <table class="min-w-full divide-y text-sm text-left border-b border-coinly-secondary">
    <thead class="bg-coinly-secondary text-coinly-light sticky top-0 z-10">
      <tr>
        <th scope="col" class="px-6 py-2 tracking-wider">
          Name
        </th>
        <th scope="col" class="px-6 py-2 text-center tracking-wider">
          Automark as Paid
        </th>
        <th scope="col" class="px-6 py-2 text-center tracking-wider">
          Allow Recurring
        </th>
        <th scope="col" class="px-6 py-2 text-center tracking-wider">
          Is Default
        </th>
        <th scope="col" class="px-6 py-2 tracking-wider">
          Notes
        </th>
        <th scope="col" class="px-6 py-2 text-center tracking-wider">
          Status
        </th>
        <th scope="col" class="px-6 py-2 text-center tracking-wider">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="divide-y divide-coinly-secondary">
      @for (method of methods(); track method.paymentMethodId) {
        <tr class="hover:bg-coinly-highlight">
          <td class="px-6 py-2 whitespace-nowrap">
            {{ method.name }}
          </td>
          <td class="px-6 py-2 whitespace-nowrap text-center">
            @if (method.autoMarkAsPaid) {
              <fa-icon [icon]="faCheck" class="text-coinly-success"></fa-icon>
            } @else {
              <div class="flex flex-col gap-2">
                <fa-icon [icon]="faTimes" class="text-coinly-danger"></fa-icon>
                <span class="text-xs font-bold">Suggested payment day: {{ method.suggestedPaymentDay }}</span>
                <span class="text-xs font-bold">Statement cutoff day: {{ method.statementCutoffDay }}</span>
              </div>
            }
          </td>
          <td class="px-6 py-2 whitespace-nowrap text-center">
            @if (method.allowRecurring) {
              <fa-icon [icon]="faCheck" class="text-coinly-success"></fa-icon>
            } @else {
              <fa-icon [icon]="faTimes" class="text-coinly-danger"></fa-icon>
            }
          </td>
          <td class="px-6 py-2 whitespace-nowrap text-center">
            @if (method.isDefault) {
              <fa-icon [icon]="faCheck" class="text-coinly-success"></fa-icon>
            } @else {
              <div class="flex flex-col items-center gap-2">
                <fa-icon [icon]="faTimes" class="text-coinly-danger"></fa-icon>
                <span class="text-xs font-bold">
                  <app-large-button
                    [text]="'Set as Default'"
                    [action]="'none'"
                    [disabled]="method.isDeleted"
                    (buttonClick)="openDialogForm('set-default', 'Set as Default Method', method)"
                  ></app-large-button>
                </span>
              </div>
            }
          </td>
          <td class="px-6 py-2 whitespace-nowrap">
            <div class="max-w-[400px] truncate" [attr.title]="method.notes">
              {{ method.notes }}
            </div>
          </td>
          <td class="px-6 py-2 whitespace-nowrap text-center">
            @if (!method.isDeleted) {
            <span class="inline-block px-3 py-1 rounded-full bg-coinly-success-light text-coinly-success">
              Active
            </span>
            } @else {
            <span class="inline-block px-3 py-1 rounded-full bg-coinly-danger-light text-coinly-danger">
              Inactive
            </span>
            }
          </td>
          <td class="px-6 py-2 whitespace-nowrap text-center">
            <div class="flex items-center justify-center gap-2">
              <app-icon-button
                [action]="'edit'"
                [title]="'Edit'"
                [disabled]="method.isDeleted"
                (buttonClick)="openDialogForm('update', 'Edit Method', method)"
              ></app-icon-button>
              <app-icon-button
                [action]="'delete'"
                [title]="'Delete'"
                [disabled]="method.isDeleted"
                (buttonClick)="openDialogForm('delete', 'Delete Method', method)"
              ></app-icon-button>
            </div>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="7" class="px-6 py-2 text-center">
            No payment methods found
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>

@if (showDialogForm()) {
  <app-modal-dialog
    [title]="dialogFormTitle()"
    [processStatus]="processStatus()"
    (close)="onDialogClose()"
  >
  @if(dialogFormMode() == 'delete') {
    <app-delete-method-form
      [method]="selectedMethod()"
      [processStatus]="processStatus()"
      [submitError]="dialogFormMessage()"
      (cancel)="onDialogClose()"
      (save)="onDeleteMethodDialogSave()"
    ></app-delete-method-form>
  }
  @if(dialogFormMode() == 'set-default') {
    <app-set-default-method
      [method]="selectedMethod()"
      [processStatus]="processStatus()"
      [submitError]="dialogFormMessage()"
      (cancel)="onDialogClose()"
      (save)="onSetDefaultMethodDialogSave()"
    ></app-set-default-method>
  }
  </app-modal-dialog>
}
