<nav class="fixed left-0 right-0 top-0 bg-coinly-primary p-4 flex justify-between items-center text-coinly-light z-50">
  <div class="text-2xl font-bold tracking-wide">
    <a routerLink="/" class="hover:text-coinly-highlight transition-colors">Aurora Coinly</a>
  </div>
  <div class="flex items-center space-x-4">
    <button 
      class="hover:text-coinly-highlight text-xl focus:outline-none">
      <fa-icon [icon]="faBell"></fa-icon>
    </button>
    <button
      class="hover:text-coinly-highlight text-xl rounded-full bg-coinly-secondary w-8 h-8 flex items-center justify-center focus:outline-none">
      <fa-icon [icon]="faUser"></fa-icon>
    </button>
  </div>
</nav>