<nav class="fixed left-0 right-0 top-0 bg-coinly-primary p-4 flex justify-between items-center text-coinly-light font-quicksand z-50">
    <div class="text-2xl font-bold tracking-wide">
        <a routerLink="/" class="hover:text-coinly-highlight transition-colors">Aurora Coinly</a>
    </div>
    <div class="flex items-center space-x-4">
        <p-button
            icon="pi pi-bell"
            variant="text"
            [rounded]="true"
        ></p-button>
        <p-button
            icon="pi pi-user"
            variant="text"
            [rounded]="true"
        ></p-button>
    </div>
</nav>