<aside class="w-64 bg-gray-50 border-r border-gray-200 p-4">
  <ul class="space-y-2">
    <li>
      <a routerLink="/dashboard" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faHome"></fa-icon>
        </span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/transactions" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faReceipt"></fa-icon>
        </span>
        <span>Transactions</span>
      </a>
    </li>
    <li>
      <a routerLink="/wallets" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faWallet"></fa-icon>
        </span>
        <span>Wallets</span>
      </a>
    </li>
    <li>
      <a routerLink="/categories" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faTags"></fa-icon>
        </span>
        <span>Categories</span>
      </a>
    </li>
    <li>
      <a routerLink="/methods" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faCoins"></fa-icon>
        </span>
        <span>Payment Methods</span>
      </a>
    </li>
    <li>
      <a routerLink="/reports" 
         routerLinkActive="bg-gray-200 font-semibold"
         class="flex items-center p-2 text-gray-700 rounded-lg hover:bg-gray-100 transition-colors">
        <span class="w-5 mr-3">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </span>
        <span>Reports</span>
      </a>
    </li>
  </ul>
</aside> 