<aside class="fixed top-0 left-0 z-40 w-64 h-screen bg-coinly-secondary border-r border-coinly-highlight pt-20 overflow-y-auto transition-transform -translate-x-full lg:translate-x-0" aria-label="Sidebar">
  <ul class="space-y-2">
    <li>
      <a routerLink="/dashboard" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faTableColumns"></fa-icon>
        </span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/transactions" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faReceipt"></fa-icon>
        </span>
        <span>Transactions</span>
      </a>
    </li>
    <li>
      <a routerLink="/wallets" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faWallet"></fa-icon>
        </span>
        <span>Wallets</span>
      </a>
    </li>
    <li>
      <a routerLink="/categories" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faTags"></fa-icon>
        </span>
        <span>Categories</span>
      </a>
    </li>
    <li>
      <a routerLink="/methods" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faCoins"></fa-icon>
        </span>
        <span>Payment Methods</span>
      </a>
    </li>
    <li>
      <a routerLink="/reports" 
         routerLinkActive="bg-coinly-primary"
         class="flex items-center py-2 px-4 text-coinly-light hover:bg-coinly-primary transition-colors">
        <span class="w-5 mr-3 text-coinly-highlight">
          <fa-icon [icon]="faChartBar"></fa-icon>
        </span>
        <span>Reports</span>
      </a>
    </li>
  </ul>
</aside> 