<div class="flex items-center justify-between mb-4">
    <span class="text-lg font-bold text-coinly-primary">Last transactions</span>
    <a [routerLink]="['/transactions']" class="text-coinly-info hover:underline text-sm">See all</a>
</div>

<div class="divide-y divide-coinly-light">
    @for (transaction of transactions; track transaction.transactionId) {
    <div class="grid grid-cols-4 py-3 items-center gap-2">
        <div class="col-span-2 flex items-center gap-3">
            <div>
                <p-avatar
                    [icon]="getTransactionIcon(transaction)"
                    shape="circle"
                    [style]="{'background-color': getTransactionIconBackgroundColor(transaction), 'color': getTransactionIconTextColor(transaction)}" />
            </div>
            <div class="flex flex-col">
                <span class="font-bold text-ellipsis">{{ transaction.description }}</span>
                <span class="text-xs text-coinly-disabled">{{ transaction.category.name }}</span>
            </div>
        </div>
        <div class="flex flex-col items-center text-center">
            <span class="font-bold">{{ transaction.transactionDate | date: 'dd/MM/yyyy' }}</span>
            <p-tag
                [value]="transaction.status"
                [severity]="getTransactionStatusSeverity(transaction.status)"
                [rounded]="true"
                [style]="{'font-size': '0.7rem'}" />
        </div>
        <span class="text-2xl content-center font-bold text-end" [ngClass]="getTransactionAmountClass(transaction)">
            {{ transaction.amount | currency: transaction.currency }}
        </span>
    </div>
    }
</div>